spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "systemctl" "--user" "import-environment" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"

spawn-at-startup "qs" "-c" "noctalia-shell"

hotkey-overlay {
    skip-at-startup
}