* {
  border: none;
  font-family: "JetBrainsMono Nerd Font Mono", "Noto Color Emoji", monospace;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
  border-radius: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* números alinhados */
}

window#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: rgba(0, 43, 51, 0.85);
  margin-top: 3px;
  padding: 4px 15px;
  border-radius: 18px;
}

.modules-left {
  background-color: rgba(0, 119, 179, 0.75);
  margin-left: 10px;
}

#workspaces button {
  padding: 4px 10px;
  background-color: transparent;
  border: none;
  font-weight: 600;
  border-radius: 12px;
}

#workspaces button:hover {
  background-color: rgba(0, 153, 153, 0.9);
}

#workspaces button.focused {
  background-color: rgba(0, 43, 51, 0.9);
}

#custom-logout {
  font-size: 20px;
  color: #ffffff;
}

#custom-logout:hover {
  color: #cc3436;
}

#custom-browser,
#custom-file_manager,
#custom-tty,
#custom-steam,
#custom-vscode,
#custom-youtubemusic,
#custom-swaync,
#custom-logout,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
  padding: 0 12px;
}

#mode {
  color: #cc3436;
  font-weight: 700;
}

#custom-power {
  background-color: rgba(0, 119, 179, 0.7);
  border-radius: 9999px;
  margin: 0 8px;
  padding: 4px 8px;
  color: #ffffff;
}

#custom-power:hover {
  background-color: rgba(0, 119, 179, 1);
}

#idle_inhibitor.activated {
  color: #2dcc36;
}

#pulseaudio.muted {
  color: #cc3436;
}

#battery.charging {
  color: #2dcc36;
}

#battery.warning:not(.charging) {
  color: #e6e600;
}

#battery.critical:not(.charging) {
  color: #cc3436;
}

#temperature.critical {
  color: #cc3436;
}
